{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/formulario.css' %}">
{% endblock %}

{% block content %}
<section class="fondo-registro formulario-ingreso">

  <div class="contenedor-formulario">
    <h2>🔐 Ingresar al Clan Totem</h2>
    {% if error %}
      <p style="color: red; text-align: center;">{{ error }}</p>
    {% endif %}
    <form method="POST">
      {% csrf_token %}
      <div class="bloque-campo">
        <label for="username">Nombre de usuario</label>
        <input type="text" name="username" id="username" class="campo-runa" required>
      </div>
      <div class="bloque-campo">
        <label for="password">Contraseña</label>
        <input type="password" name="password" id="password" class="campo-runa" required>
      </div>
      <button type="submit" class="boton-invocacion">Ingresar</button>
    </form>
    <p>
        <a href="{% url 'registro' %}" class="enlace-registro">¿No tienes cuenta? Regístrate aquí</a>
    </p>

  </div>
</section>

{% endblock %}
